Source: autohosts
Section: web
Priority: optional
Maintainer: Angela <angelad@disroot.org>
Build-Depends: debhelper
Standards-Version: 3.9.8
Vcs-Git: https://github.com/angela-d/autohosts.git
Vcs-browser: https://github.com/angela-d/autohosts.git

Package: autohosts
Architecture: all
Pre-Depends: wget (>=1.18)
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends:
Homepage: https://github.com/angela-d/autohosts
Description: Automate hosts file updates.
 Block Firefox telemetry, Google snooping and web trackers at the root.
